// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;
$color_gold: #ffbe34;
$color_blue: #091242;
$color_white_2: #f4f4f4;
$color_blue_2: #1c1f35;
$color_blue_3: #273270;
$color_blue_4: #111c55;
$color_gray: #666c89;
$color_gradient: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 50.75%, #ffd7a6 102.71%);
$text_color: #23212a;
// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

// fonts
$font_1: 'Krub', sans-serif;
$font_2: 'Rubik', sans-serif;
$font_3: 'League Spartan', sans-serif;
