.contact {
	background-color: $color_blue;
}
.contact__in {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include bp($point_2, min) {
		row-gap: 7rem;
	}

	@include bp($point_3) {
		row-gap: 5rem;
	}
}
.contact__row {
	&.contact__row.contact__row--1 {
		width: 100%;
		display: flex;
		align-items: center;

		@include bp($point_2, min) {
			justify-content: center;
			column-gap: 8.8rem;
		}

		@include bp($point_3) {
			flex-direction: column;
			row-gap: 4rem;
			align-items: center;
		}
	}
	&.contact__row.contact__row--2 {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.contact__coll {
	&.contact__coll.contact__coll--1 {
		display: flex;
		flex-direction: column;

		@include bp($point_2, min) {
			width: 35.2rem;
		}

		@include bp($point_3) {
			width: 100%;
		}
	}
	&.contact__coll.contact__coll--2 {
		@include bp($point_2, min) {
			width: 75.8rem;
		}

		@include bp($point_3) {
			width: 100%;
		}
	}
}
.contact__subtitle_w {
	max-width: 7.6rem;
	margin-bottom: 1.2rem;
}
.contact__title {
	color: $color_white;
	margin-bottom: 0.2rem;
}
.contact__descr {
	margin-bottom: 3.2rem;
}
.contact__cont_list {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}
.contact_form {
	width: 100%;
	display: flex;

	@include bp($point_2, min) {
		flex-wrap: wrap;
		gap: 3rem;
	}

	@include bp($point_3) {
		flex-direction: column;
		align-items: center;
		row-gap: 2rem;
	}
}
.contact__input {
	height: 6rem;
	padding-left: 3rem;
	background-color: transparent;
	border: 1px solid #4e5683;
	font-family: $font_3;
	font-size: 2rem;
	font-weight: 400;
	line-height: 6rem;
	color: $color_white;

	@include bp($point_2, min) {
		width: calc((100% - 3rem) / 2);
	}

	@include bp($point_3) {
		width: 100%;
	}

	&::placeholder {
		color: $color_white;
	}
}
.contact__textarea {
	width: 100%;
	min-height: 15.4rem;
	padding-left: 3rem;
	background-color: transparent;
	border: 1px solid #4e5683;
	font-family: $font_3;
	font-size: 2rem;
	font-weight: 400;
	line-height: 6rem;
	color: $color_white;
	&::placeholder {
		color: $color_white;
	}

	@include bp($point_3) {
		margin-bottom: 2rem;
	}
}
.contact__btn {
	@extend%main__btn_w_1_2;
	@extend%main__btn_color_1;
	@extend%main__btn_font;
}
.contact_list {
	width: 100%;
	display: flex;

	@include bp($point_2, min) {
		flex-wrap: wrap;
	}

	@include bp($point_3) {
		flex-direction: column;
		align-items: center;
		row-gap: 2rem;
	}
}
.contact__item_w {
	cursor: pointer;
	position: relative;

	height: 23.4rem;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include bp($point_2, min) {
		width: calc(100% / 4);
	}

	@include bp($point_3) {
		width: 100%;
	}

	&.contact__item_w.contact__item_w--bg1 {
		background-image: url(../imgs/contact/cont_1.jpg);
	}
	&.contact__item_w.contact__item_w--bg2 {
		background-image: url(../imgs/contact/cont_2.jpg);
	}
	&.contact__item_w.contact__item_w--bg3 {
		background-image: url(../imgs/contact/cont_3.jpg);
	}
	&.contact__item_w.contact__item_w--bg4 {
		background-image: url(../imgs/contact/cont_4.jpg);
	}
	&:hover {
		.contact__item {
			z-index: 11;
		}
	}
}
.contact__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #111c54 0%, rgba(17, 28, 84, 0) 98.72%);
	z-index: -11;
	
	
	
}
.contact__img_w {
	width: 20.4rem;
	height: 52rem;
	display: block;
	object-fit: contain;
}
.contact__img {
	@extend %contain_image;
}
